/* Geral */
#main-title{
   text-align: center;
   margin: 15px 0 30px;
}

/* Navbar */
.navbar-brand img {
   width: 60px;
   margin-left: 15px;
}

/* Home */
#contacts-table{
   max-width: 800px;
   margin: 0 auto;
}

#contacts-table thead{
   color: #FFF;
   background-color: #007bff;
}

.col-id{
   font-weight: bold;
}

.actions{
   text-align: right;
   width: 150px;
}

.actions i{
   font-size: 18px;
   margin-right: 5px;
}

.bi-arrows-angle-expand{
   color: #1e7e34;
}

.bi-pencil{
   color: #007bff;
}

.bi-person-dash-fill{
   color: #BD2130;
}

.delete-btn{
   background-color: transparent;
   border: none;
   padding: 0;
}

#empty-list-text{
   text-align: center;
}

#msg {
   color: #155724;
   background-color: #D4EDDA;
   border: 1px solid #c3E6CB;
   padding: 10px;
   text-align: center;
   max-width: 500px;
   margin: 0 auto;
   margin-top: 30px;
}